.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #607b96;
  position: fixed;
  width: 100%;
}

.main {
  display: flex;
  position: relative;
}

.tabStart,
.tabEnd,
.tab {
  line-height: 55px;
  display: inline-block;
  height: 55px; 
  padding: 0 22px;
  border: none;
  border-left: 1px solid #607b96;
  background-color: transparent;
  color: #607b96;
  font-size: 16px;
  font-weight: 450;
  border-bottom: 3px groove transparent;
}

.wrapperTab {
  height: 55px; 
}

.tabEnd:hover,
.tab:hover,
.tab.tabActive,
.tabEnd.tabActive {
  color: #FFF;
  border-bottom: 3px groove #FEA55F;
  bottom: 0;
}

/* .active::after {
  content: '';
  height: 3px;
  border-radius: 3px 3px 0 0;
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 0;
  background: var(--yellow-500);
} */

.tabEnd:active,
.tab:active {
  color: #607B96;
}

.tabStart {
  width: 310px;
  border: none;
}
