.container {
	padding: 0 2rem;
}

.main,
.tabs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100%;
}

.main {
	padding: 55px 0;
}
